---
- name: Add kube pub key to root authorized keys
  ansible.posix.authorized_key:
    user: root
    key: "{{ lookup('file', '{{ item }}') }}"
#    exclusive: yes
    follow: no
    manage_dir: yes
  with_items: "{{ ssh_root_keys }}"

- name: Add conf.d file to allow root to login with keys only
  copy:
    src: PermitRootLogin.conf
    dest: /etc/ssh/ssh_config.d
    group: root
    owner: root
    mode: 0644
  notify:
    - reboot server
