---

#
# Make sure systemd-resolved.service is running
#
- name: Making sure systemd-resolved.service is running
  ansible.builtin.systemd:
    name: systemd-resolved.service
    state: started

#
# Link resolve.conf to a file that has the real nameservers
# listed in it, rather than the "resolver stub" on 127.0.0.53
#
# This is a requirement of Docker
# ...and the way Wookie prefers it
#
- name: Fix /etc/resolve.conf so it points to actual nameservers
  file:
    src: /run/systemd/resolve/resolv.conf
    dest: /etc/resolv.conf
    state: link

#
# Since we aren't using systemd-resolved for DNS lookups, add
# our fqdn and hostname to /etc/hosts on the loopback address
#
- name: Update hosts file
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regex: '^127.0.0.1 localhost.*$'
    line: "127.0.0.1  localhost  {{ ansible_fqdn }} {{ ansible_hostname }}"
    state: present

#
# The unattended-upgrades service is a nice idea, but we're going to
# turn it off, since it's been getting in the way
#
- name: Disable unattended-upgrades
  ansible.builtin.systemd:
    name: unattended-upgrades.service
    enabled: no
    state: stopped

#
# Turn off wifi and bluetooth, amongst other settings in this file
# It is identical on all machines
#
- name: Update bootloader config file usercfg.txt
  ansible.builtin.copy:
    src: usercfg.txt
    dest: /boot/firmware/usercfg.txt
    owner: root
    group: root
    mode: 0755
  notify: reboot server

#
# Enable memory cgroup driver
#
- name: Turn on memory cgroup
  ansible.builtin.replace:
    path: /boot/firmware/cmdline.txt
    regexp: "fixrtc$"
    replace: "fixrtc cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1"
  notify: reboot server
#
# Add/update some packages we need to have installed
#
- name: Install/update assorted packages
  ansible.builtin.apt:
    name: "{{ assorted_apts }}"
    state: latest
  notify: reboot server
